h1 {
    text-align: center;
    background-color: white;
    border-radius: 2em;
    padding: 0.5em;
}

div {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.uitleg {
    border: black dotted 4px;
    background-color: white;
    margin: 1em;
}
.aantal {
    text-align: center;
}

#teller {
    border: black solid 2px;
    border-radius: 2em;
    background-color: white;
    padding: 1em 0em 1em 0em;
    margin: 1em 20em 1em 20em;
}

.klikker {
    border: black solid 1px;
    padding: 1em;
    margin: 1em 0em 0em 0em;
    background-color: white;
    font-size: 1.5em;
    text-align: center;
}

.klikker:hover {
    background-color: hotpink;
    border: black solid 5px;
    font-style: italic;
}

